<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>EasyWash</title>
</head>
<body>

	<form novalidate action="", th:action="@{/create}"  method="POST" th:object="${customer}" >
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="name">Name</label>
      <input type="text" class="form-control"  name="name" placeholder="Enter name" th:value="${customer.name}">
    </div>
    <div class="form-group col-md-6">
      <label for="mobileNo">Mobile No</label>
      <input type="text" class="form-control"  name="mobNo" placeholder="Mobile No" th:value="${customer.mobNo}">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save</button>
</form>



</body>
</html>